body {
  background-image: url("");
  background-repeat: no-repeat;
  background-position: right top;
  margin-right: 400px;
  background-color: rgb(203, 239, 252);
}
h2{
    color:rgb(73, 73, 255);
   
}
h3{
    color:rgb(98, 255, 109);
    text-align:center;
    font-size: 45px;
}

.img-box {
  display: flex;
  gap: 10px;
}
.img-box img {
  width: 350px;
}


.fi{
    
  width: 90vw; /* 90% chiều rộng màn hình */
  margin: auto;
background-color: beige;

}
.btn{
    position: fixed;
    right: 20px;
    bottom: 20px;

    width: 70px;
    height: 70px;

    background-color: #1877f2;
    color: white;

    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 26px;
    line-height: 1; /* tránh lệch chữ */

    text-decoration: none;

    box-shadow: 0 6px 16px rgba(0,0,0,0.3);
}